
:global{
  .dropzone div{
    width: 100% !important;
    justify-content: center;
    display: flex;
    cursor: pointer;
  }
  .dropzone-msg{
    display: flex;
    flex-direction: column;
  }
  .dropzone-btn{
    display: flex;
    justify-content: center;
    padding: 10px;
  }

}
